@import "https://www.nerdfonts.com/assets/css/webfont.css";
*{
    font-family: "JetBrainsMono Nerd Font";
}

body, html {
    height: 100%;
    margin: 0;
}
  
#top {
    height: 70%;
    display: flex;
}
  
#fs {
    width: 20%;
    border-right: 3px solid #2b2b2b;
    overflow-y: auto;
    font-family: "JetBrainsMono Nerd Font";
    background-color: #181818;
}
  

#terminal {
    height: 30%;
    border-top: 3px solid #2b2b2b;
    overflow-y: auto;

}


#editor {
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    color: white;
    font-size: 14px;
    overflow-y: auto;
    margin: 0 0 0 0;
}

.returnBtn{
    width: 30px;
    height: 30px;
    font-size: 10px;
    color: white;
    background-color: #181818;
    border: 0px;
}

.returnBtn:hover{
    background-color: #2a2d2e;
}

.filesButtons{
    width: 100%;
    height: 24px;
    font-size: 14px;
    color: white;
    background-color: #181818;
    text-align: left;
    border: 0px;
}
.filesButtons:hover{
    background-color: #2a2d2e;
}

.buttonsDiv{
    display: flex;
    justify-content: space-between;
}

.addFile{
    background-color: #181818;
    color: white;
    border: 0px;
    font-size: 14px;
}

.addFile:hover{
    background-color: #2a2d2e;
}


