body, html {
    height: 100%;
    margin: 0;
}
  
#top {
    height: 80%;
    display: flex;
}
  
#fs {
    width: 20%;
    border-right: 3px solid black;
}
  
#editor {
    width: 80%;
}
  
textarea{
    width: 100%;
    height: 99%;
    resize: none;
    border: none;
}

#terminal {
    height: 20%;
    border-top: 3px solid black;
}
  